.header {
  padding: 21px 0 21px;
  border-bottom: 1px solid #ececec;

  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    padding-top: 24px;
  }

  &__container {
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin: 0 auto;

    @media (min-width: 768px) {
      max-width: 738px;
      height: 38px;
      gap: 83px;
      padding-left: 0;
      padding-right: 0;
    }

    @media (min-width: 1200px) {
      gap: 93px;
      display: flex;
      align-items: center;
      width: 1200px;
      padding: 0 15px;
      margin: 0 auto;
      min-width: 1200px;
    }
  }

  &__menu {
    display: none;
    flex-direction: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;

    @media (min-width: 768px) {
      display: flex;
      gap: 60px;
    }

    @media (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      list-style: none;
      padding: 0;
      gap: 46px;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      position: relative;
    }
  }

  &__menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    letter-spacing: 0.02em;
    color: $primaryColor;
    text-decoration: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media (min-width: 1200px) {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      text-align: left;
      letter-spacing: 0.02em;
      color: $primaryColor;
      text-decoration: none;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__menu-link:hover::after,
  &__menu-link:focus::after {
    background-color: $specialColor;
    content: "";
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 4px;
    top: 45px;
    border-radius: 2px;
  }

  &__menu-link--active {
    position: relative;
    color: $specialColor;
  }

  &__menu-link--active::after {
    content: "";
    position: absolute;
    display: block;
    top: 45px;
    width: 100%;
    height: 4px;
    background-color: $specialColor;
    border-radius: 2px;
  }

  &__menu-link:hover,
  &__menu-link:focus {
    color: $specialColor;
    position: relative;
  }

  /* contacts */

  &__contact {
    display: none;
    list-style: none;

    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    @media (min-width: 1200px) {
      display: flex;
      margin-left: 252px;
      flex-direction: row;
      gap: 30px;
      list-style: none;
    }
  }

  &__contact-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    text-align: left;
    letter-spacing: 0.02em;
    color: $secondaryColorGrey;
    text-decoration: none;
    transition: $transitionDurationDefault $transitionsFunctionDefault;

    @media (min-width: 1200px) {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      text-align: left;
      letter-spacing: 0.02em;
      color: $secondaryColorGrey;
      text-decoration: none;
      transition: $transitionDurationDefault $transitionsFunctionDefault;
    }
  }

  &__contact-link:hover,
  &__contact-link:focus {
    color: $specialColor;
  }
  &__contact-icon {
    vertical-align: middle;
    fill: currentColor;
    margin-right: 10px;
  }
}
