$primaryColor: #212121;
$secondaryColorGrey: #757575;
$footerFillingColor: #2f3032;
$secondaryColorWhite: #ffffff;
$specialColor: #2196f3;
$iconsFillingColor: #afb1b8;
$backgroundColorGray: #f5f4fa;
$borderPortfolioColor: #eeeeee;
$footerColor: rgba(255, 255, 255, 0.6);

$transitionDurationDefault: 250ms;
$transitionsFunctionDefault: cubic-bezier(0.4, 0, 0.2, 1);
